@import 'vars';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 44px;
    padding-bottom: 45px;
    min-height: 151px;
}

.navigation {
    width: 20.25%;

    &__list {
        display: flex;
        justify-content: space-between;
        list-style: none;
    }

    &__item {
        line-height: 125%;
    }

    &__link {
        color: $colorText;
        cursor: pointer;
        transition: 0.3s;
    }

    &__item:hover &__link {
        color: $colorHover;
    }
}